body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.custom__indicator-separator.css-1u9des2-indicatorSeparator {
  display: none;
}



@media (min-width: 640px) {
  .swiper-slide {
    max-width: 345px !important;
    flex: 1;
    width: 100% !important;
  }
}